@import './button.scss';

svg:not([fill]) {
  fill: currentColor;
}

svg {
  width: 100%;
}

.p-absolute {
  position: absolute !important;
}

.blur-4 {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
}

body .v-application .text-stroke-width-2 {
  -webkit-text-stroke-width: 2px;
  text-stroke-width: 2px;
  letter-spacing: 0 !important;
}

body .v-application .text-stroke-width-1 {
  -webkit-text-stroke-width: 1px;
  text-stroke-width: 1px;
  letter-spacing: 0 !important;
}

.text-stroke-primary {
  -webkit-text-stroke-color: var(--v-primary-base);
  text-stroke-color: var(--v-primary-base);
}

.text-stroke-secondary {
  -webkit-text-stroke-color: var(--v-secondary-base);
  text-stroke-color: var(--v-secondary-base);
}

.text-stroke-accent {
  -webkit-text-stroke-color: var(--v-accent-base);
  text-stroke-color: var(--v-accent-base);
}

.text-stroke-white {
  -webkit-text-stroke-color: #fff;
  text-stroke-color: #fff;
}

.dashboard .v-card {
  border-radius: 24px !important;
}

hr {
  border-top-width: 1.5px !important;
}

.autofill-bg input:-webkit-autofill,
.autofill-bg select:-webkit-autofill,
.autofill-bg textarea:-webkit-autofill {
  -webkit-text-fill-color: var(--v-info-base) !important;
  -webkit-box-shadow: 0 0 0 100px var(--v-bg-base) inset !important;
  box-shadow: 0 0 0 100px var(--v-bg-base) inset !important;
}

.bg-dotted {
  background: var(--v-bg-base) url('/image/bg-dotted.jpg') bottom center no-repeat !important;
}

.bg-decorated {
  background: var(--v-bg-base) url('/image/bg-decorated.jpg') bottom center no-repeat !important;
}

::-moz-selection {
  background-color: var(--v-primary-base) !important;
  color: #fff !important;
}

::selection {
  background-color: var(--v-primary-base) !important; /* Required when declaring ::selection */
  color: #fff !important;
}

//html {
//  overflow-y: visible !important;
//}

iframe {
  border: none;
}

p {
  font-weight: 300;
  font-family: LTZaridSans;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.v-alert {
  background-color: #141432 !important;
}

.theme--dark.v-tabs > .v-tabs-bar {
  background-color: rgb(8, 10, 24) !important;
}

.bg-color-12 {
  background: map-get($material-dark-elevation-colors, '12');
}

.v-data-footer {
  justify-content: flex-start !important;
}

.rounded-0\.5 {
  border-radius: 0.5em !important;
}

.rounded-1\.5 {
  border-radius: 1.5em !important;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.v-input__append-inner {
  margin-top: 0.8rem !important;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.notice-box {
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.25rem dashed;
}

.theme--dark.v-list {
  background-color: #182636 !important;
}

.bg-transparent.pa-4.bg-fix.text-center.v-card.v-sheet.theme--dark.elevation-0 {
  background-color: transparent !important;
}


.table td {
  padding: 1rem;
}


.v-dialog.v-dialog--active {
  border: 2px solid var(--v-primary-base);
  border-radius: 10px;
  overflow: unset;
  box-shadow: 0px 11px 15px -7px rgb(0 113 227 / 20%), 0px 24px 38px 3px rgb(0 113 227 / 14%), 0px 9px 46px 8px rgb(0 113 227 / 12%) !important
}